/* 
*** Font Information ***
Dosis font has 800 (thick) weight and 400 (regular) weight

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --DMain: #2B061E;
    --LMain: #85B79D;
    --Light: #FFEED6;
    --Dark: #12020D;
    --DAccent: #D2BF55;
    --LAccent: #FBBFCA;

}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

@keyframes pulse {
    100% {
        text-shadow:
        /* White glow */
        0 0 7px var(--Light),
        0 0 11px var(--Light),
        0 0 21px var(--Light),
        /* Green glow */
        0 0 42px var(--LAccent),
        0 0 82px var(--LAccent),
        0 0 92px var(--LAccent),
        0 0 102px var(--LAccent),
        0 0 151px var(--LAccent);
    }
    0% {
        text-shadow:
        /* White glow */
        0 0 6px var(--Light),
        0 0 10px var(--Light),
        0 0 17px var(--Light),
        /* Green glow */
        0 0 36px var(--LAccent),
        0 0 73px var(--LAccent),
        0 0 80px var(--LAccent),
        0 0 93px var(--LAccent),
        0 0 140px var(--LAccent);
    }
}

/* Neon sign ideas from https://css-tricks.com/how-to-create-neon-text-with-css/ */
#home_title {
    text-align: center;
    color: var(--Light);
    animation: pulse 0.6s ease-in-out infinite alternate;    
}

.arrow {
    text-align: center;
    color: var(--Light);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.cloud {
    animation: pulse 0.6s ease-in-out infinite alternate,
    MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1, h2, h3, h4, body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
}

.large-title {
    font-size: 10vh;
    margin:20px;
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--Light);
    background-color: var(--DMain);
    z-index: 2;

    /* Stick to top */
    top: 0;
    position: sticky;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.read-more-button, .contact-button, .back-button {
    font-weight: bolder;
    text-decoration: none;
    color: var(--LAccent);
    background-color: var(--Light);
    border-radius: 8px;
    color: var(--Dark);
    padding: 10px 25px 10px 25px;
    transition: .3s;

}

.read-more-button:hover, .contact-button:hover, .back-button:hover {
    top: -2px;
    transform: translateY(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.read-more-button:focus {
    box-shadow: none;
    border: 2px solid var(--LAccent);
}

.nav_button {
    color: inherit;
    flex: 1;
    padding: 20px;
    transition: .8s;
}

.nav_button:hover {
    background-color: #12020D;
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--DMain);
    display: flex;
    flex-direction: column;
}

div {
    margin: 0;
}

h2 {
    font-size: 10vh;
    margin:40px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 50px;
}

/* ABOUT SECTION */

#about {
    color: var(--Light);
}

#about-text, #about-image {
    width: 47.3%;
    display: inline-block;
}

#about-image {
    padding-left: 60px;
}

img {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.project-img-icon {
    width:100%;
    height: auto;
    object-fit: cover;
}

#headshot {
    height:350px;
    width:350px;
    object-fit: cover;
    object-position: 0 15%;
    border-radius: 50%;
}

.center-align {
    text-align: center;
}

/* PROJECTS & EXPERIENCE SECTION */
#projects {
    background: var(--LAccent);
}

#projects-container {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 48.3% auto;
}

.project-card {
    border: solid var(--Light) 2px;
    background: var(--Dark);
    color: var(--Light);
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
}

.project-card-condensed-info {
    display: grid;
    grid-template-columns: 40% auto;
}

h3 {
    font-size: 35px;
    margin-bottom:10px;
    text-align: left;
    margin-top:10px;
    background-color: var(--Dark);
    position: relative;
}

p, a {
    font-size: 25px;
}

h4 {
    font-size: 25px;
    margin:5px;
    font-weight: lighter;
}

/* RESUME SECTION */
#resume {
    background: var(--LMain);
    align-items: center;
}

#most-recent-resume {
    height: 65vh;
    width: 80vw;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-date {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background: none;
    color: var(--Light);
}

#contact-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

#contact-button {
    color: var(--LAccent);
}