/* 
*** Font Information ***
Dosis font has 800 (thick) weight and 400 (regular) weight

*** Color Information ***
Green - A4DF57
Yellow - FADB6B
Yellow accent - F5BF67
Fire Opal Orange - E4695B
Paradise Pink - E54865
Purple - 923C60
Violet - 53335D
Violet accent - 3D2248
bLue - 221c3b
*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

@keyframes pulse {
    100% {
        text-shadow:
        /* White glow */
        0 0 7px #E4695B,
        0 0 11px #E4695B,
        0 0 21px #E4695B,
        /* Green glow */
        0 0 42px #E54865,
        0 0 82px #E54865,
        0 0 92px #E54865,
        0 0 102px #E54865,
        0 0 151px #E54865;
    }
    0% {
        text-shadow:
        /* White glow */
        0 0 6px #E54865,
        0 0 10px #E54865,
        0 0 17px #E54865,
        /* Green glow */
        0 0 36px #E54865,
        0 0 73px #E54865,
        0 0 80px #E54865,
        0 0 93px #E54865,
        0 0 140px #E54865;
    }
}

/* Neon sign ideas from https://css-tricks.com/how-to-create-neon-text-with-css/ */
#home_title {
    text-align: center;
    color: white;
    animation: pulse 0.6s ease-in-out infinite alternate;    
    font-size: 20vh;
    margin: 6vh;
}

.arrow {
    text-align: center;
    color: white;
    animation: pulse 0.6s ease-in-out infinite alternate;    
    font-size: 10vh;
    margin: 6vh;
    bottom: 100vh - 20px;
    cursor: pointer;
    width: fit-content;
}

.cloud {
    animation: pulse 0.6s ease-in-out infinite alternate,
    MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1, h2, h3, h4, body {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}

@media screen and (prefers-reduced-motion) {
    h1 {
        animation: none;
    }
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;

    /* Stick to top */
    top: 0;
    position: sticky;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav_button {
    color: inherit;
    flex: 1;
}

/* Body Beginning and End Styles */
.beginning {
    background-color: #221c3b;
    display: flex;
    flex-direction: column;
}
.end {
    background-color: black;
    display: flex;
    flex-direction: column;

    /* Starry background from https://projects.verou.me/css3patterns/#starry-night */
    /* To get stars of verying brightness on the background */
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 2.5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 5px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 2.5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

div {
    margin: 0;
}

#home {
    color:white;
    background: None;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;
}

.fullscreen {
    height:100vh;
}

h2 {
    font-size: 10vh;
    margin:40px;
}

/* ABOUT SECTION */

#about {
    background: #E54865;
    padding: 20px;
    color: white;
}

/* PROJECTS & EXPERIENCE SECTION */
#projects {
    background: #FADB6B;
    padding: 20px;
}

#projects-container {
    overflow-y: scroll;
    height: 75vh;
    border: solid black 2px;
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-color: black white;
    background-color: #F5BF67;
}

.project-card {
    background: #FADB6B;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 5vh;
    margin:20px;
    text-align: center;
}

p, a {
    font-size: 20px;
}

.skill-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

h4 {
    text-align: center;
    font-size: 25px;
    margin:5px;
}

/* RESUME SECTION */
#resume {
    background: #53335D;
    padding: 20px;
    align-items: center;
}

#most-recent-resume {
    height: 65vh;
    width: 80vw;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-date {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background: none;
    color: white;
}

#contact-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

#contact-button {
    color: #E4695B;
}