/* 
*** Font Information ***
font-family: 'Alegreya Sans', sans-serif;

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --DMain: #2B061E;
    --LMain: #85B79D;
    --Light: #FFEED6;
    --Dark: #12020D;
    --DarkLight: #52474f;
    --DAccent: #e6c613;
    --LAccent: #FBBFCA;
    --LAccent2: #A27080;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("../../static/images/backgroundDesign.png"), linear-gradient(var(--Dark), black);
    background-attachment: scroll;
    background-size: cover;
}

@keyframes pulse {
    100% {
        text-shadow:
        /* White glow */
        0 0 7px var(--Light),
        0 0 11px var(--Light),
        0 0 21px var(--Light),
        /* Green glow */
        0 0 42px var(--LAccent),
        0 0 82px var(--LAccent),
        0 0 92px var(--LAccent),
        0 0 102px var(--LAccent),
        0 0 151px var(--LAccent);
    }
    0% {
        text-shadow:
        /* White glow */
        0 0 6px var(--Light),
        0 0 10px var(--Light),
        0 0 17px var(--Light),
        /* Green glow */
        0 0 36px var(--LAccent),
        0 0 73px var(--LAccent),
        0 0 80px var(--LAccent),
        0 0 93px var(--LAccent),
        0 0 140px var(--LAccent);
    }
}

/* Neon sign ideas from https://css-tricks.com/how-to-create-neon-text-with-css/ */
#home_title {
    text-align: center;
    color: var(--Light);
    animation: pulse 0.6s ease-in-out infinite alternate;    
}

.arrow {
    display: none;
}

.cloud {
    animation: pulse 0.6s ease-in-out infinite alternate,
    MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1, h2, h3, h4, body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
}

.large-title {
    font-size: 80px;
    margin:20px;
    font-weight: 200;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    color: var(--Light);
    background-color: var(--Light);
    z-index: 2;

    top: 0;
    position: sticky;
}

.mobile-nav button {
    display: block;
    height: auto;
    padding: 10px;
}

#mobile-logo, #toggle-logo {
    width: 25px;
    height: auto;
    margin: 0px;
}

nav {
    display: grid;
    position: fixed;
    top: 50px;
    left: -70%;
    width: 70%;
    height: 60%;
    min-width: 180px;
    background: var(--Dark);
    transition: all 0.5s ease;
    z-index: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

nav .nav_button {
    color: var(--Light);
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}

.nav_button {
    padding-left: 50px;
}

.nav_button:hover {
    padding-left: 60px;
    border-radius: 5%;
    background-color: var(--DarkLight);
}
  
nav .nav_button {
    margin-right: 16px;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.read-more-button, .contact-button, .back-button {
    font-weight: bolder;
    text-decoration: none;
    color: var(--LAccent);
    background-color: var(--Light);
    border-radius: 8px;
    color: var(--Dark);
    padding: 10px 25px 10px 25px;
    transition: .3s;

}

.read-more-button:hover, .contact-button:hover, .back-button:hover {
    top: -2px;
    transform: translateY(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.read-more-button:focus {
    box-shadow: none;
    border: 2px solid var(--LAccent);
}

.nav_button {
    color: inherit;
    flex: 1;
    padding: 20px;
    transition: .8s;
}

.nav_button:hover {
    background-color: black;
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--DMain);
    display: flex;
    flex-direction: column;
}

div {
    margin: 0;
}

h2 {
    font-size: 80px;
    margin: 10px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 35px;
}

/* ABOUT SECTION */

#about {
    color: var(--Light);
    background-color: var(--DMain);
}

#about-text {
    display: inline-block;
    padding:0px 30px 0px 30px;
    width:100%;
}

#about-image {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#about-image-mobile {
    display: none;
}

img {
    height: auto;
    width: 100%;
}

.project-img-icon {
    height: 85px;
    width:85px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#headshot {
    height:300px;
    width:300px;
    object-fit: cover;
    border-radius: 50%;
}

.center-align {
    text-align: center;
}

/* PROJECTS & EXPERIENCE SECTION */
#projects {
    background: var(--LAccent);
    color: var(--DMain);
    width: 100%;
}

.project-card {
    border: solid var(--Light) 2px;
    background: var(--Dark);
    color: var(--Light);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.project-card-condensed-info {
    display: grid;
    grid-template-columns: 65% auto;
    width:100%;
}

h3 {
    font-size: 35px;
    margin-bottom:10px;
    text-align: left;
    margin-top:10px;
    background-color: var(--Dark);
    position: relative;
}

p, a {
    font-size: 20px;
}

a:link {
    color: var(--LAccent);
}

a:visited {
    color: var(--LAccent2);
}

a:hover {
    color:var(--Dark-Light);
}

a:active {
    color: var(--Light);
}

.link-bold {
    font-weight: bold;
}

h4 {
    font-size: 25px;
    margin:5px;
    font-weight: lighter;
}

/* RESUME SECTION */
#resume {
    background: var(--LMain);
    align-items: center;
    width: 100%;
    color: var(--DMain)
}

#most-recent-resume {
    height: 65vh;
    width: 100%;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-date {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background-color: #2B061ECC;
    backdrop-filter: blur(4px);
    color: var(--Light);
    width: 100%;
    align-items: center;
}

#contact-methods {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

.contact-icon {
    max-width: 70px;
}

#contact-button {
    color: var(--LAccent);
}

#contact-form {
    width: 100% !important; 
    height: 520px !important
}

label {
    font-family: 'Alegreya Sans', sans-serif;
}