/* GENERAL STYLES */
h2 {
    font-size: 80px;
    margin: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
    margin-bottom:10px;
    text-align: left;
    margin-top:10px;
    position: relative;
}

h4 {
    font-size: 1.8rem;
    margin:5px 5px 5px 0px;
    font-weight: lighter;
}

p, a {
    font-size: 1.3rem;
}

/* MOBILE NAV */
.mobile-nav-bar {
    width: 100%;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    color: var(--Dark);
    background-color: var(--Dark);
    z-index: 2;

    top: 0;
    position: sticky;
    transition: .3s;
}

.mobile-nav button {
    display: block;
    height: auto;
    padding: 10px;
}

#mobile-logo, #toggle-logo {
    width: 25px;
    height: auto;
    margin: 0px;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 50px;
    left: -70%;
    width: 70%;
    height: 100%;
    min-width: 180px;
    background: var(--Dark);
    transition: all 0.5s ease;
    z-index: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

nav .nav_button {
    color: var(--Dark);
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
    margin-right: 16px;
}

.nav_button {
    padding-left: 50px;
    width: 100%;
    color: inherit;
    flex: 1;
    padding: 20px;
    transition: .8s;
}

.nav_button:hover {
    padding-left: 60px;
    border-radius: 0px;
    background-color: var(--Dark-Light);
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

/* HOME SECTION */
#home {
    grid-template-columns: 1fr;
    padding: 10px 35px 10px 35px;
    height: calc(var(--vh, 1vh) * 100 - 50px);
}

#greetingA {
    margin-top: 30px;
}

#home_title {
    font-size: 15vw;
}

.large-title {
    font-size: 80px;
    margin:20px;
    font-weight: 200;
}

/* ABOUT SECTION */
#about {
    color: var(--Dark);
    background-color: var(--Background);
    min-height: 1380px;
}

#about-content {
    display:inline-block;
}

#about-text {
    display: inline-block;
    padding:0px 30px 0px 30px;
    width:100%;
}

#about-image {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
}

#about-image-mobile {
    display: none;
}

.project-img-icon {
    height: auto;
    max-height: 340px;
    width:100%;
    object-fit: cover;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#headshot {
    height:300px;
    width:300px;
    object-fit: cover;
    border-radius: 50%;
    margin:0px;
}

.center-align {
    text-align: center;
}

#skills-header {
    text-align: center;
}

#about-skills {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-div {
    width: 100px;
    height: fit-content;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.skill-images {
    height: 40px;
    width: auto;
}

/* Progess bar inspired by this tutorial: https://gist.github.com/WeiChiaChang/abe92ca2e8da86ef69560b63903e8764*/
.progress-bar {
    background-color: var(--Dark-Light);
    border-radius: 4px;
    width: 100%;
}

.progress-bar-fill {
    background-color: var(--LMain);
    border-radius: 5px;
    display: block;
    height: 10px;
}

/* PROJECTS & EXPERIENCE SECTION */
#projects {
    background: var(--Background);
    color: var(--Dark);
    width: 100%;
    min-height: 1945px;
}

#project-caption {
    margin-left: 10px;
}

#projects-container {
    display: grid;
    grid-template-columns: 48.3% auto;
}

.project-card {
    background: var(--faded);
    color: var(--Dark);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.project-card:hover {
    cursor: pointer;
}

/* RESUME SECTION */
#resume {
    background: var(--LMain);
    align-items: center;
    width: 100%;
    color: var(--Background);
    min-height: 600px;
}

#most-recent-resume {
    min-height: 120vh;
    min-width: 100%;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-date {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background-color: var(--BackgroundTransparent);
    backdrop-filter: blur(4px);
    color: var(--Dark);
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

#contact-methods {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    margin-top: 10px;
}

.contact-icon {
    max-width: 70px;
}

#contact-form {
    width: 100% !important; 
    height: 520px !important
}