/* 
*** Font Information ***
font-family: 'Alegreya Sans', sans-serif;

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --DMain: #2B061E;
    --LMain: #7FD1B9;
    --Light: #FFEED6;
    --Dark: #12020D;
    --Dark-Light: #52474f;
    --Dark-Dark:#220518;
    --DAccent: #e6c613;
    --LAccent: #FBBFCA;
    --LAccent2: #A27080;
    --faded: rgb(0, 0, 0, .2);
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("../../static/images/backgroundDesign.png"), linear-gradient(var(--Dark), black);
    background-attachment: scroll;
    background-size: cover;
}

@keyframes pulse {
    100% {
        text-shadow:
        /* White glow */
        0 0 7px var(--Light),
        0 0 11px var(--Light),
        0 0 21px var(--Light),
        /* Green glow */
        0 0 42px var(--LAccent),
        0 0 82px var(--LAccent),
        0 0 92px var(--LAccent),
        0 0 102px var(--LAccent),
        0 0 151px var(--LAccent);
    }
    0% {
        text-shadow:
        /* White glow */
        0 0 6px var(--Light),
        0 0 10px var(--Light),
        0 0 17px var(--Light),
        /* Green glow */
        0 0 36px var(--LAccent),
        0 0 73px var(--LAccent),
        0 0 80px var(--LAccent),
        0 0 93px var(--LAccent),
        0 0 140px var(--LAccent);
    }
}

.highlight {
    color: var(--LMain);
}

#greetingA {
    text-align: center;
    margin-top: 30px;
}

#greetingB {
    text-align: center;
}

#about-content {
    display:flex;
    align-items: center;
}

/* Neon sign ideas from https://css-tricks.com/how-to-create-neon-text-with-css/ */
#home_title {
    text-align: center;
    color: var(--Light);
    animation: pulse 0.6s ease-in-out infinite alternate;    
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1, h2, h3, h4, body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
}

.large-title {
    font-size: 60px;
    margin:20px;
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--Light);
    background-color: var(--DMain);
    z-index: 2;

    /* Stick to top */
    top: 0;
    position: sticky;
}

.mobile-nav {
    display: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.read-more-button {
    font-weight: bolder;
    text-decoration: none;
    background-color: var(--LAccent);
    border-radius: 8px;
    color: var(--Dark);
    padding: 10px 25px 10px 25px;
    transition: .3s;
}

.read-more-button:hover {
    top: -2px;
    background-color: var(--LAccent2);
    transform: translateY(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.read-more-button:focus {
    box-shadow: none;
    border: 2px solid var(--LAccent);
}

.nav_button {
    color: inherit;
    flex: 1;
    padding: 20px;
    transition: .8s;
}

.nav_button:hover {
    background-color: var(--Dark);
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--DMain);
    display: flex;
    flex-direction: column;
}

div {
    margin: 0;
}

h2 {
    font-size: 80px;
    margin: 10px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

/* ABOUT SECTION */

#about {
    color: var(--Light);
    background-color: var(--DMain);
    min-height: 1247px;
}

#about-text, #about-image {
    display: inline-block;
    padding:30px;
}

#about-text {
    width: 60%;
}

#about-image {
    padding-left: 40px;
    width: 38.3%;
}

#about-image-mobile {
    display: none;
}

img {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.project-img-icon {
    width:48%;
    height: auto;
    float: left;
    margin: 0px 20px 0px 0px;
    max-height: 250px;
    object-fit: cover;
}

#headshot {
    height:300px;
    width:300px;
    object-fit: cover;
    border-radius: 50%;
}

.center-align {
    text-align: center;
}

#skills-header {
    text-align: center;
}

hr {
    border-top: 1px solid var(--Dark-Light);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width:60%;
}

#about-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill-div {
    width: 150px;
    height: fit-content;
    padding:10px;
    background-color: var(--faded);
    border-radius: 10px;
    margin: 10px 10px 50px 10px;
    text-align: center;
}

.skill-images {
    height: 60px;
    width: auto;
}

/* Progess bar inspired by this tutorial: https://gist.github.com/WeiChiaChang/abe92ca2e8da86ef69560b63903e8764*/
.progress-bar {
    background-color: var(--Dark-Light);
    border-radius: 4px;
    width: 100%;
}

.progress-bar-fill {
    background-color: var(--LMain);
    border-radius: 5px;
    display: block;
    height: 10px;
}

/* PROJECTS & EXPERIENCE SECTION */
#projects {
    background: var(--DMain);
    color: var(--Light);
    min-height: 1280px;
}

#project-caption {
    margin-left: 10px;
}

#projects-container {
    display: grid;
    grid-template-columns: 48.3% auto;
}

.project-card {
    background: var(--faded);
    color: var(--Light);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

h3 {
    font-size: 35px;
    margin-bottom:10px;
    text-align: left;
    margin-top:10px;
    position: relative;
}

p, a {
    font-size: 20px;
}

a:link {
    color: var(--LAccent);
}

a:visited {
    color: var(--LAccent2);
}

a:hover {
    color:var(--Dark-Light);
}

a:active {
    color: var(--Light);
}

.link-bold {
    font-weight: bold;
}

h4 {
    font-size: 25px;
    margin:5px 5px 5px 0px;
    font-weight: lighter;
}

/* RESUME SECTION */
#resume {
    background: var(--LMain);
    align-items: center;
    width: 100%;
    color: var(--DMain);
    min-height: 575px;
}

#most-recent-resume {
    height: 75vh;
    width: 100%;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-date {
    text-align: center;
}

/* CONTACT SECTION */
#contact {
    background-color: #2B061ECC;
    backdrop-filter: blur(4px);
    color: var(--Light);
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

#contact-methods {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

.contact-icon {
    max-width: 70px;
}

#contact-form {
    width: 70% !important; 
    height: 520px !important
}

label {
    font-family: 'Alegreya Sans', sans-serif;
}