/* 
*** Font Information ***
font-family: 'Alegreya Sans', sans-serif;

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --DMain: #2B061E;
    --LMain: #85B79D;
    --Light: #FFEED6;
    --Dark: #12020D;
    --DAccent: #D2BF55;
    --LAccent: #FBBFCA;
    --LAccent2: #A27080;

}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

/* Neon sign ideas from https://css-tricks.com/how-to-create-neon-text-with-css/ */
#home_title {
    text-align: center;
    color: var(--Light);
    animation: pulse 0.6s ease-in-out infinite alternate;    
}


h1, h2, h3, h4, body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    color: var(--Light);
}

.large-title {
    font-size: 10vh;
    margin:20px
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--Light);
    background-color: var(--DMain);
    z-index: 2;

    /* Stick to top */
    top: 0;
    position: sticky;
}

.mobile-nav-bar {
    width: 100%;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    color: var(--Light);
    background-color: var(--Light);
    z-index: 2;

    top: 0;
    position: sticky;
}

.mobile-nav button {
    display: block;
    height: auto;
    padding: 10px;
}

#mobile-logo, #toggle-logo {
    width: 25px;
    height: auto;
    margin: 0px;
}

nav {
    display: grid;
    position: fixed;
    top: 50px;
    left: -70%;
    width: 70%;
    min-height: 420px;
    max-height: 60%;
    min-width: 180px;
    background: var(--Dark);
    transition: all 0.5s ease;
    z-index: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

nav .nav_button {
    color: var(--Light);
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}

.nav_button {
    padding-left: 50px;
}

.nav_button:hover {
    padding-left: 60px;
    border-radius: 5%;
    background-color: var(--DarkLight);
}
  
nav .nav_button {
    margin-right: 16px;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--DMain);
    display: flex;
    flex-direction: column;
}

div {
    margin: 0;
}

h2 {
    font-size: 6vh;
    margin:20px 0px 20px 0px;
}

h3 {
    font-size: 3vh;
    margin: 0px 0px 20px 0px;
}

p, a {
    font-size: 25px;
}

.link-bold {
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 50px;
}

/* Image slideshow */
.images-div {
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_slides {
    width: 70%;
    max-height: 370px;
    margin: auto;
    object-fit: cover;
    object-position: 0px 0px;
}

iframe {
    height: 370px;
}

img {
    height: auto;
}

.dots-div {
    width:50%;
    margin: auto;
    text-align: center;
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--LAccent);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.inactive-dot {
    background-color: var(--LAccent); 
}

.active-dot {
    background-color: var(--LAccent2);
}

.skill-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}