/* 
*** Font Information ***
font-family: 'Open Sans', sans-serif;

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --BackgroundD: #2E0F1F;
    --BackgroundL: #E5FCFF;
    --LMain: #AE3C6F;
    --Light: #E5FCFF;
    --Dark: #2E0F1F;
    --Dark-Light: #80254C;
    --DAccent: #C16197;
    --LAccent: #AFBFE8;
    --LAccent2: #B48FC6;
    --blue: #6176C2;
    --faded: rgb(0, 0, 0, .2);

    --smallGap: 5px;
    --smallPad: 15px;
    --medPad: 20px;
    --lgPad: 30px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

.highlight {
    color: var(--LMain);
}

h1, h2, h3, h4, body {
    color: var(--Dark);
}

/* Body Beginning and End Styles */
.beginning {
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
}

div {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0px 1.2rem 0px;
}

h2 {
    font-size: 1.5rem;
    margin: 3rem 0rem .5rem 0rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin: 0px;
}

a {
    margin-top: var(--smallPad);
    display: block;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 50px;
}

/* Buttons for image slideshow */
#right-slide-button, #left-slide-button {
    color: var(--Light);
    background-color: var(--DAccent);
    height: 50px;
    width: 50px;
    margin-right: auto;
    border-radius: 5px;
    line-height: 0px;
    font-size: 2rem;
}

#right-slide-button:hover, #left-slide-button:hover {
    background-color: var(--LMain);
}

/* Image slideshow */
#images-div {
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--medPad);
}

.img_slides {
    width: 70%;
    max-height: 370px;
    object-fit: cover;
    object-position: 0px 0px;
}

iframe {
    height: 370px;
}

img {
    height: auto;
}

#dots-div {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--DAccent);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.inactive-dot {
    background-color: var(--DAccent); 
}

.active-dot {
    background-color: var(--Dark-Light);
}

.skill-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: var(--smallPad);
}

.skill-bubble {
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    color: var(--LMain);
    border: solid 2px var(--LMain);
}

.not-found {
    text-align: center;
}

.back-button {
    margin-top: 30px;
    font-weight: bolder;
    text-decoration: none;
    background-color: var(--LAccent);
    border-radius: 8px;
    color: var(--Dark);
    padding: 10px 25px 10px 25px;
    transition: .3s;
}

.back-button:hover {
    top: -2px;
    background-color: var(--LAccent2);
    transform: translateY(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.back-button:focus {
    box-shadow: none;
    border: 2px solid var(--LAccent);
}