/* 
*** Font Information ***
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif;

*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --BackgroundD: #2E0F1F;
    --BackgroundL: #E5FCFF;
    --LMain: #AE3C6F;
    --Light: #E5FCFF;
    --Dark: #2E0F1F;
    --Dark-Light: #80254C;
    --DAccent: #C16197;
    --LAccent: #AFBFE8;
    --LAccent2: #B48FC6;
    --blue: #6176C2;
    --faded: rgb(0, 0, 0, .2);

    --smallGap: 5px;
    --smallPad: 15px;
    --medPad: 20px;
    --lgPad: 30px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-attachment: scroll;
    background-size: cover;
    min-width: 370px;
    overflow-x: hidden;
}

h1, h2, h3, h4, body {
    font-family: 'Alegreya Sans', sans-serif;
}

p, a {
    font-weight: 400;
}

a:link {
    color: var(--LAccent);
}

a:visited {
    color: var(--LAccent2);
}

a:hover {
    color:var(--Dark-Light);
}

a:active {
    color: var(--Dark);
}

.link-bold {
    font-weight: bold;
}

div {
    margin: 0;
}

.highlight {
    color: var(--DAccent);
}

img {
    height: auto;
    width: 100%;
}

hr {
    border-top: 1px solid var(--DAccent);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width:60%;
}

label {
    font-family: 'Alegreya Sans', sans-serif;
}

/* GENERAL STYLES */
h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 35px;
    margin-bottom:10px;
    text-align: left;
    margin-top: 10px;
    position: relative;
}

h4 {
    font-size: 1.8rem;
    margin:5px 5px 5px 0px;
    font-weight: lighter;
}

p, a {
    font-size: 20px;
}

img {
    margin-top: 20px;
}

/* !!! DESKTOP !!! */
@media screen and (min-width:768px) {
    h1, h2, h3, h4, body {
        font-weight: 400;
    }

    p, a {
        font-size: 1.2rem;
    }


    /* DESKTOP NAV STYLES */
    nav {
        display: flex;
        justify-content: space-between;
        color: var(--Dark);
        background-color: var(--BackgroundL);
        z-index: 2;
    
        /* Stick to top */
        top: 0;
        position: sticky;
    }
    
    .mobile-nav {
        display: none;
    }
    
    .nav_button {
        color: inherit;
        flex: 1;
        padding: 20px;
        transition: .8s;
    }
    
    .nav_button:hover {
        background-color: var(--LAccent2);
        color: var(--Light);
    }
}

/* !!! MOBILE !!! */
@media screen and (max-width:767px) {
    h1, h2, h3, h4, body {
        font-weight: 300;
        color: var(--Dark);
    }
    
    h1 {
        font-size: 2.5rem;
        margin: 2rem 0px 1.2rem 0px;
    }

    h2 {
        font-size: 3.75rem;
        margin: 40px 0px 10px 0px;
        text-align: center;
    }
    
    h3 {
        font-size: 2.5rem;
        margin-bottom:10px;
        text-align: left;
        margin-top:10px;
        position: relative;
    }
    
    h4 {
        font-size: 1.5rem;
        margin:5px 5px 5px 0px;
        font-weight: lighter;
    }
    
    p, a {
        font-size: 1rem;
    }


    /* MOBILE NAV */
    .mobile-nav-bar {
        width: 100%;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        color: var(--Dark);
        background-color: var(--Dark);
        z-index: 2;

        top: 0;
        position: sticky;
        transition: .3s;
    }

    .mobile-nav button {
        display: block;
        height: auto;
        padding: 10px;
    }

    #mobile-logo, #toggle-logo {
        width: 25px;
        height: auto;
        margin: 0px;
    }

    nav {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        position: fixed;
        top: 50px;
        left: -70%;
        width: 70%;
        height: 100%;
        min-width: 180px;
        background: var(--Dark);
        transition: all 0.5s ease;
        z-index: 1;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    nav .nav_button {
        color: var(--Dark);
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 1.2rem;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.4s;
        margin-right: 16px;
    }

    .nav_button {
        padding-left: 50px;
        color: inherit;
        flex: 1;
        padding: 20px;
        transition: .8s;
        width: 100%;
    }

    .nav_button:hover {
        padding-left: 60px;
        border-radius: 0px;
        background-color: var(--Dark-Light);
    }
}

/* BUTTON STYLES */
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.read-more-button {
    font-weight: 500;
    text-decoration: none;
    background-color: var(--LAccent);
    border-radius: 8px;
    color: var(--Dark);
    padding: 10px 25px 10px 25px;
    transition: .3s;
}

.read-more-button:hover {
    top: -2px;
    background-color: var(--LAccent2);
    transform: translateY(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.read-more-button:focus {
    box-shadow: none;
    border: 2px solid var(--LAccent);
}

/* GENERAL BODY STYLES */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-content {
    max-width: 1200px;
}

/* HOME SECTION */
#home {
    height: calc(100vh - 50px);
    text-align: left;
    justify-items: left;
    align-items: end;
    color: var(--Dark);
    background-color: var(--BackgroundL);
    display: grid;
    grid-template-rows: .4fr 1fr 1fr .4fr auto;
}

#threejs-container {
    position: absolute;
}

#greeting {
    justify-self: center;
    align-self: start;
    grid-row: 3;
    grid-column: 1/3;
    z-index: +1;
    color: var(--Dark);
    font-weight: 300;
}

#home_title {
    grid-row: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 0px;
    margin: 0px;
    color: var(--LAccent2);
    z-index: +1;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*
*** Form styles
*/
input {
    cursor: pointer;
}

input[type='text'], textarea, input[type='email'] {
    background-color: var(--BackgroundL);
    border-radius: 1em;
    border: none;
    padding: 1rem;

}

input[type='text'] {
    width: 120px;
}

button:focus {
    outline: 5px auto var(--blue);
    outline: 5px auto -webkit-focus-ring-color;
}

.required-input::after {
    content: " *";
    color: var(--MainD);
}

.label {
    margin: 0px;
    color: var(--MainL);
    font-weight: 400;
}

.cta-button {
    font-weight: 500;
    text-decoration: none;
    background-color: var(--DAccent);
    border-radius: 8px;
    color: var(--BackgroundL);
    padding: 10px 25px 10px 25px;
    transition: .3s;
    justify-self: center;
    grid-row: 4;
    grid-column: 2;
    margin-top: 30px;
    z-index: +1;
}

.cta-button:hover {
    background-color: var(--LMain);
    transform: scale(1.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden!important;
}

.cta-button:focus {
    box-shadow: none;
    border: 2px solid var(--LMain);
}

#down-icon {
    animation: MoveUpDown 2s ease-in-out infinite;
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#down-icon:hover {
    cursor: pointer;
}

#down-icon-container {
    width: 100%;
    grid-row: 5;
    grid-column: span 2;
    display: flex;
    align-items: center;
}