<!DOCTYPE html>
<html>
    <head>
        <title>Asha Ivey - Portfolio Website</title>

        <!-- JQuery for one specific issue of getting plain text (rather than html) from database -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <meta name="viewport" content="width=device.width, initial-scale=1"/>

        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:901px) and (min-height:821px)' href='../static/css/home.css'>
        <link rel='stylesheet' media='screen and (max-height:820px)' href='../static/css/medium_home.css'>
        <link rel='stylesheet' media='screen and (max-width:900px)' href='../static/css/medium_skinny_home.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/small_home.css'>

        <script src='../static/js/home.js'></script>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/ashaiv-favicon-32x32.png'>
          
        <!-- Font Stuff -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">    
    </head>
      
    <body class='beginning' onload="loadData()">
        <div id='top' display='none'></div>

        <div class="mobile-nav mobile-nav-bar">
            <button class='mobile-nav' onclick='logoAction()'>
                <img id='mobile-logo' src="../static/images/ashaiv-favicon-32x32.png">
            </button>
            <button class='nav_toggle mobile-nav' onclick='toggleMenu()'>
                <img id='toggle-logo' class="hamburg" src="../static/images/hamburger-icon.svg">
            </button>
        </div>
        
        <nav> 
            <button class='nav_button' onclick='homeAction()'>Home</button>
            <button class='nav_button' onclick='aboutAction()'>About</button>
            <button class='nav_button' onclick='projectAction()'>Projects</button>
            <button class='nav_button' onclick='resumeAction()'>Resume</button>
            <button class='nav_button' onclick='contactAction()'>Contact</button>
        </nav> 

        <div id='home' class='container'>
            <h4 id="greetingA">Hi, my name is </h4>
            <h1 id='home_title'>Asha Ivey</h1>
            <h4 id="greetingB"></h4>
            <button id="cta" onclick="ctaAction()">See Projects</button>
            <div id="down-icon-container">
                <img id='down-icon' onclick='aboutAction()' src="../static/images/down-icon-ashaiv.svg">
            </div>
        </div>
        
        <div id='about' class="container">
            <h2>About</h2>
            <div id="about-content">
                <div id="about-image-mobile">
                    <p class='center-align'>
                        <img id='headshot' src='../static/images/grad_pic_pink.jpg'>
                    </p>
                </div>
                <div id='about-text'>
                    <!-- Ideally, I want there to be a short version and a long version -->
                    <!-- so that people can chose whether or not they want to read the -->
                    <!-- whole page or just scroll through. -->
                    <p id='about-description'></p>
                </div> 
                <div id="about-image">
                    <p class='center-align'>
                        <img id='headshot' src='../static/images/grad_pic_pink.jpg'>
                    </p>
                </div>
            </div>
            <h4 id="skills-header">Things I Know How to Use:</h4>
            <hr>
            <div id="about-skills"></div>
        </div>

        <div id='projects' class="container">
            <h2>Projects</h2>
            <div id='projects-container'></div>
        </div>

        <div id='resume' class="container">
            <h2>Resume</h2>
            <div id='resume-container'>
                <iframe id='most-recent-resume' src='../static/documents/Post-Grad_Resume_Summer2022.pdf#view=FitH'></iframe>
            </div>
        </div>

        <div id='contact' class="container">
            <h2>Contact Me</h2>

            <iframe id="contact-form" src="//www.abcsubmit.com/view/id_1g550p0mh_140s?isEmbed=1&utm=abcsubmit" data-role="abcsubmit-form-embed" frameborder="0" scrolling="no" style="display: block; margin-left: auto; margin-right:auto; padding: 0 !important;" ></iframe>
            
            <div id='contact-methods'> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                        <img src="../static/images/GitHub-Mark-Light-64px.png">
                        <p class="link-bold">Github</p>
                    </a>
                </div> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                        <img src="../static/images/LI-In-Bug.png">
                        <p class="link-bold">LinkedIn</p>
                    </a>
                <div>
            </div> 
        </div>

        {% if scroll %}
        <script>
            $(document).ready(() => {
                // Handler for .ready() called.
                setTimeout(() => {
                    $('html, body').animate({
                        scrollTop: $('#{{scroll}}').offset().top
                    }, 'slow');
                }, 700);
            }); 
            window.history.replaceState({}, "", "/");
        </script>
        {% endif %}
    </body>
</html>