<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Asha Ivey - Portfolio Website</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Asha's portfolio website. Contains information about Asha and the projects she has worked on most recently.">

        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/home.css'>
        <link rel='stylesheet' media='screen and (max-width:767px)' href='../static/css/home_small.css'>

        <script src='../static/js/home.js'></script>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/ashaiv-favicon-32x32.png'>

        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js"
                }
            }
        </script>

        <!-- Programming language icon set -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

        <!-- JQuery for smooth scrolling to different sections -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Bootstrap for PDFs -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
          
        <!-- Font Stuff -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">    
    </head>
      
    <body class='beginning' onload="loadData()">
        <script type="module">
            import * as THREE from 'three';
            // import { OrbitControls } from 'three/addons/OrbitControls';
            // "three/addons/OrbitControls": "https://unpkg.com/three@0.160.0/examples/jsm/controls/OrbitControls.js"

            const renderer = new THREE.WebGLRenderer({antialias: true});
            renderer.shadowMap.enabled = true;
            renderer.shadowMap.type = THREE.BasicShadowMap;
            renderer.setClearColor(0xEFEFEE);
            renderer.domElement.classList.add("spread");
            document.getElementById("threejs-container").appendChild(renderer.domElement);

            const scene = new THREE.Scene();

            const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
            if (window.innerWidth <= 767) {
                camera.position.z = 70;

                const homeContainer = document.getElementById("home");
                renderer.setSize(homeContainer.offsetWidth, homeContainer.offsetHeight + document.getElementById("mob-nav").offsetHeight);
            } else {
                camera.position.z = 50;

                const homeContainer = document.getElementById("home");
                renderer.setSize(homeContainer.offsetWidth, homeContainer.offsetHeight + document.getElementById("nav-bar").offsetHeight);
            }
            scene.add(camera);

            // const controls = new OrbitControls( camera, renderer.domElement );
            // controls.update();

            // SHAPE GEOMETRY //
            const shapeMaterialObject = {
                color: 0xE5FCFF,
                emissive: 0x2E0F1F,
                roughness: .4,
            }
            const shapeMaterial = new THREE.MeshStandardMaterial(shapeMaterialObject);

            const boxGeometry = new THREE.BoxGeometry(20, 20, 20);
            const cube = new THREE.Mesh(boxGeometry, shapeMaterial);
            cube.receiveShadow = true;
            cube.castShadow = true;
            scene.add(cube);

            const octoGeometry = new THREE.OctahedronGeometry(10, 0);
            const octo = new THREE.Mesh(octoGeometry, shapeMaterial);
            octo.receiveShadow = true;
            octo.castShadow = true;
            scene.add(octo);

            const torusGeometry = new THREE.TorusGeometry(10, 2, 14, 80); 
            const torus = new THREE.Mesh(torusGeometry, shapeMaterial); 
            torus.receiveShadow = true;
            torus.castShadow = true;
            scene.add(torus);

            const cylinderGeometry = new THREE.CylinderGeometry(10, 10, 28, 30); 
            const cylinder = new THREE.Mesh(cylinderGeometry, shapeMaterial); 
            cylinder.receiveShadow = true;
            cylinder.castShadow = true;
            scene.add(cylinder);

            // LIGHTS //
            const mainLight = new THREE.DirectionalLight(0xAFBFE8, 1.5);
            mainLight.position.set(-100, 50, 0);
            scene.add(mainLight);  

            const pinkLight = new THREE.DirectionalLight(0xC16197, 1.5);
            pinkLight.position.set(-100, -50, 0);
            scene.add(pinkLight); 

            const yellowLight = new THREE.DirectionalLight(0xF0E85B, 1.5);
            yellowLight.position.set(100, -50, 0);
            scene.add(yellowLight); 

            const greenLight = new THREE.DirectionalLight(0x15E066, 0.5);
            greenLight.position.set(100, 50, 0);
            scene.add(greenLight);  

            const hemisphereLight = new THREE.HemisphereLight(0xE5FCFF, 0xB48FC6, 2.5);
            scene.add(hemisphereLight);

            /////////////////////////////
            // Animate Object Movement //
            /////////////////////////////
            var cubePosition = {
                x: 0,
                y: -15,
                z: 0,
                newX: 0,
                newY: 0,
                newZ: 0,
            }

            cube.position.z = 0;

            var torusPosition = {
                x: 40,
                y: -20,
                z: -10,
                newX: 0,
                newY: 0,
                newZ: -10,
                spin: true,
            }

            torus.position.z = -10;

            var octoPosition = {
                x: -55,
                y: 40,
                z: -20,
                newX: 0,
                newY: 0,
                newZ: -20
            }

            octo.position.z = -20;

            var cylinderPosition = {
                x: -50,
                y: 10,
                z: -40,
                newX: 0,
                newY: 0,
                newZ: -40
            }

            cylinder.position.z = -40;

            var mousePosition = {
                x: 0,
                y: 0,
            }

            function animate() {
                requestAnimationFrame(animate);

                // Spin rate
                var spinRate;
                const TAU = Math.PI * 2;

                // Cube distance from mouse to determine movement speed
                const cubeDistance = dist(cubePosition.newX, cubePosition.newY, cube.position.x, cube.position.y);
                var cubeRate;
                if (Math.abs(cubeDistance) > 20) {
                    cubeRate = 0.08;
                    spinRate = 0.2;
                } else {
                    cubeRate = 0.05;
                    spinRate = 0.1;
                }

                cube.position.x += (cubePosition.newX - cube.position.x) * cubeRate;
                cube.position.y += (cubePosition.newY - cube.position.y) * cubeRate;
                cube.position.z += (cubePosition.newZ - cube.position.z) * cubeRate;
                cube.rotation.x = (cube.rotation.x + cubeRate * spinRate) % TAU;
                cube.rotation.y = (cube.rotation.y + cubeRate * spinRate) % TAU;
                cube.rotation.z = (cube.rotation.z + cubeRate * spinRate) % TAU;

                // octahedron distance from mouse to determine movement speed
                const octoDistance = dist(octoPosition.newX, octoPosition.newY, octo.position.x, octo.position.y);
                var octoRate;
                if (Math.abs(octoDistance) > 20) {
                    octoRate = 0.08;
                    spinRate = 0.3;
                } else {
                    octoRate = 0.05;
                    spinRate = 0.1;
                }
                
                octo.position.x += (octoPosition.newX - octo.position.x) * octoRate;
                octo.position.y += (octoPosition.newY - octo.position.y) * octoRate;
                octo.position.z += (octoPosition.newZ - octo.position.z) * octoRate;
                octo.rotation.x = (octo.rotation.x + octoRate * spinRate) % TAU;
                octo.rotation.y = (octo.rotation.y + octoRate * spinRate) % TAU;
                octo.rotation.z = (octo.rotation.z + octoRate * spinRate) % TAU;

                // Torus distance from mouse to determine movement speed
                const torusDistance = dist(torusPosition.newX, torusPosition.newY, torus.position.x, torus.position.y);
                var torusRate;
                if (Math.abs(torusDistance) > 20) {
                    torusRate = 0.08;
                    spinRate = 0.3;
                } else {
                    torusRate = 0.05;
                    spinRate = 0.05;
                }
                
                torus.position.x += (torusPosition.newX - torus.position.x) * torusRate;
                torus.position.y += (torusPosition.newY - torus.position.y) * torusRate;
                torus.position.z += (torusPosition.newZ - torus.position.z) * torusRate;

                // Torus is used to emphasize CTA button. At that point, it needs to stop spinning
                if (torus.position.spin == false) {
                    torus.rotation.x += ((0 - torus.rotation.x) * torusRate);
                    torus.rotation.y += ((0 - torus.rotation.y) * torusRate);
                    torus.rotation.z += ((0 - torus.rotation.z) * torusRate);
                } else {
                    torus.rotation.x = (torus.rotation.x - 0 + torusRate * spinRate) % TAU;
                    torus.rotation.y = (torus.rotation.y - 0 + torusRate * spinRate) % TAU;
                    torus.rotation.z = (torus.rotation.z - 0 + torusRate * spinRate) % TAU;
                }

                // Cylinder distance from mouse to determine movement speed
                const cylinderDistance = dist(cylinderPosition.newX, cylinderPosition.newY, cylinder.position.x, cylinder.position.y);
                var cylinderRate;
                if (Math.abs(cylinderDistance) > 20) {
                    cylinderRate = 0.08;
                    spinRate = 0.1;
                } else {
                    cylinderRate = 0.05;
                    spinRate = 0.05;
                }
                
                cylinder.position.x += (cylinderPosition.newX - cylinder.position.x) * cylinderRate;
                cylinder.position.y += (cylinderPosition.newY - cylinder.position.y) * cylinderRate;
                cylinder.position.z += (cylinderPosition.newZ - cylinder.position.z) * cylinderRate;
                cylinder.rotation.x = (cylinder.rotation.x + cylinderRate * spinRate) % TAU;
                cylinder.rotation.y = (cylinder.rotation.y + cylinderRate * spinRate) % TAU;
                cylinder.rotation.z = (cylinder.rotation.z + cylinderRate * spinRate) % TAU;

                renderer.render(scene, camera);
            }

            function unspreadObjects() {
                cubePosition.newX = 0;
                cubePosition.newY = 0;

                octoPosition.newX = 0;
                octoPosition.newY = 0;
                octoPosition.newZ = -150

                torusPosition.newX = 0;
                torusPosition.newY = 0;
                torusPosition.newZ = -150

                cylinderPosition.newX = 0;
                cylinderPosition.newY = 0;
                cylinderPosition.newZ = -150
            }

            function ctaObjects() {
                cubePosition.newX = 0;
                cubePosition.newY = 0;

                octoPosition.newX = 0;
                octoPosition.newY = 0;
                octoPosition.newZ = -150

                torusPosition.newX = 35;
                torusPosition.newY = -30;

                cylinderPosition.newX = 0;
                cylinderPosition.newY = 0;
                cylinderPosition.newZ = -150
            }

            function updateObjectLocations(clientX, clientY, mouseX, mouseY) {  
                // Ratios determine how close to the mouse location should the object go
                const cubeRatio = .2;
                const torusRatio = .1;
                const octoRatio = .15;
                const cylinderRatio = .3;

                // Set cube 'new' positions so that the object can be animated towards that location
                cubePosition.newX = cubePosition.x + (cubeRatio * mouseX);
                cubePosition.newY = cubePosition.y + (cubeRatio * mouseY);
                cubePosition.newZ = 0;

                // Set octo 'new' positions so that the object can be animated towards that location
                octoPosition.newX = octoPosition.x + (octoRatio * mouseX);
                octoPosition.newY = octoPosition.y + (octoRatio * mouseY);
                octoPosition.newZ = -20;

                // Set torus 'new' positions 
                torusPosition.newX = torusPosition.x + (torusRatio * mouseX);
                torusPosition.newY = torusPosition.y + (torusRatio * mouseY);
                torusPosition.newZ = -10;

                // Set cylinder 'new' positions 
                cylinderPosition.newX = cylinderPosition.x + (cylinderRatio * mouseX);
                cylinderPosition.newY = cylinderPosition.y + (cylinderRatio * mouseY);
                cylinderPosition.newZ = -40;
            }

            /**
             * Spread Flag determines which configuration to put the objects in
             *     - 0: Spread out
             *     - 1: Unspread (All in center behind rotating cube)
             *     - 2: CTA Spread (All in center except torus, which rotates near the cta button)
             **/
            var spreadFlag = 0;
            window.addEventListener("mouseover", (event) => {
                if (window.innerWidth <= 767) { // Unspread if mobile sized
                    spreadFlag = 1;
                    return;
                }

                if (event.target.classList.contains("spread")) {
                    spreadFlag = 0;
                } else if (event.target.classList.contains("ctaSpread")) {
                    spreadFlag = 2;
                    torus.position.spin = false;
                }
            });

            window.addEventListener("mouseout", (event) => {
                if (window.innerWidth <= 767) { // Unspread if mobile sized
                    spreadFlag = 1;
                    return;
                }

                if (event.target.classList.contains("spread") || event.target.classList.contains("ctaSpread")) {
                    spreadFlag = 1;
                    torus.position.spin = true;
                }
            });

            window.addEventListener("mousemove", (event) => {
                if (spreadFlag == 0) {
                    // Get mouse distance from center of window
                    const mouseX = event.clientX - (window.innerWidth / 2);
                    const mouseY = -1 * (event.clientY - (window.innerHeight / 2));

                    // Create a vector in 3d space for mouse coordinates
                    var mouseVector = new THREE.Vector3();
                    var mousePos = new THREE.Vector3();

                    mouseVector.set(mouseX, mouseY, 0);
                    mouseVector.unproject(camera);
        
                    var distance = camera.position.z / mouseVector.z;
        
                    mousePos.copy(camera.position).add(mouseVector.multiplyScalar(distance));

                    // Save new mouse coordinates
                    mousePosition.x = mousePos.getComponent(0);
                    mousePosition.y = mousePos.getComponent(1);

                    updateObjectLocations(event.clientX, event.clientY, mousePosition.x, mousePosition.y);
                } else if (spreadFlag == 1) {
                    unspreadObjects();
                } else if (spreadFlag == 2) {
                    ctaObjects();
                }
            });

            window.addEventListener("resize", () => {
                const width = window.innerWidth;
                const height = window.innerHeight;
                
                camera.aspect = width / height;
                camera.updateProjectionMatrix();
                if (width <= 767) {
                    camera.position.z = 70;
                } else {
                    camera.position.z = 50;
                }

                renderer.setSize(width, height);
                renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
            });

            animate();
        </script>

        <div id='top' display='none'></div>

        <div id="mob-nav" class="mobile-nav mobile-nav-bar">
            <button class='mobile-nav' onclick='logoAction()'>
                <img id='mobile-logo' src="../static/images/ashaiv-favicon-32x32.png">
            </button>
            <button class='nav_toggle mobile-nav' onclick='toggleMenu()'>
                <img id='toggle-logo' class="hamburg" src="../static/images/hamburger-icon.svg">
            </button>
        </div>

        <div id="threejs-container" class="spread"></div>
        <div id='home' class='asha-container spread'>
            <h1 id='home_title' class="spread">Asha Ivey</h1>
            <h4 id="greeting"class="spread"></h4>
            <button class="cta-button spread" onclick="ctaAction()">See Projects</button>
            <div id="down-icon-container" class="spread">
                <img id='down-icon' class="spread" onclick='aboutAction()' src="../static/images/down-icon-ashaiv.svg" alt="Scroll Down Icon">
            </div>
        </div>
        
        <nav id="nav-bar"> 
            <div>
                <button id="home_button" class='nav_button' onclick='homeAction()'>
                    <img src="../static/images/AshaIV-logo.svg">
                </button>
            </div>
            <div>
                <button class='nav_button' onclick='aboutAction()'>About</button>
                <button class='nav_button' onclick='projectAction()'>Projects</button>
                <button class='nav_button' onclick='resumeAction()'>Resume</button>
                <button class='nav_button' onclick='contactAction()'>Contact</button>
            </div>
        </nav> 

        <div id='about' class="asha-container">
            <div class="container-content">
                <h2>About</h2>
                <div id="about-content">
                    <div id="image-blob">
                        <div id="about-image">
                            <p class='center-align'>
                            <img id='headshot' src='../static/images/AshaBlob.png' alt="Picture of Asha">
                            </p>
                        </div>
                        <svg id="pink-blob" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                            <defs>
                                <linearGradient id="lgrad" x1="8%" y1="0%" x2="92%" y2="100%" >
                                    <stop offset="0%" style="stop-color:rgb(229,252,255);stop-opacity:1.00" />
                                    <stop offset="16%" style="stop-color:rgb(175,191,232);stop-opacity:1.00" />
                                    <stop offset="43%" style="stop-color:rgb(180,143,198);stop-opacity:1.00" />
                                    <stop offset="77%" style="stop-color:rgb(193,97,151);stop-opacity:1.00" />
                              </linearGradient>
                            </defs>
                            <path fill="url(#lgrad)">
                                <animate attributeName="d"
                                    dur="25s"
                                    repeatCount="indefinite"
    
                                    values="M433,316Q392,392,316,416Q240,440,177,403Q114,366,76,303Q38,240,73,174Q108,108,174,96Q240,84,323.5,78.5Q407,73,440.5,156.5Q474,240,433,316Z;
                                    M390.5,311.5Q383,383,311.5,413.5Q240,444,162.5,419.5Q85,395,67,317.5Q49,240,85,180.5Q121,121,180.5,71Q240,21,323,47.5Q406,74,402,157Q398,240,390.5,311.5Z;
                                    M365,292.5Q345,345,292.5,411.5Q240,478,157.5,441.5Q75,405,40.5,322.5Q6,240,60.5,177.5Q115,115,177.5,101.5Q240,88,305.5,98.5Q371,109,378,174.5Q385,240,365,292.5Z;
                                    M431.5,319.5Q399,399,319.5,430.5Q240,462,177,414Q114,366,101,303Q88,240,90,166Q92,92,166,80Q240,68,316,78Q392,88,428,164Q464,240,431.5,319.5Z;
                                    M411,300Q360,360,300,407Q240,454,168,419Q96,384,90.5,312Q85,240,97.5,175Q110,110,175,92Q240,74,304,93Q368,112,415,176Q462,240,411,300Z;
                                    M433,316Q392,392,316,416Q240,440,177,403Q114,366,76,303Q38,240,73,174Q108,108,174,96Q240,84,323.5,78.5Q407,73,440.5,156.5Q474,240,433,316Z"/>
                            </path>
                        </svg>
                    </div>
                    <div class="about-text">
                        <p id="description-a"></p>
                        <br>
                        <p>In my free time, I enjoy...</p>
                        <ul id="ul-b"></ul>
                    </div>
                    <div id="skills-container">
                        <p id="skills-header">Things I Know How to Use:</p>
                        <hr>
                        <div id="about-skills"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <img class="transition-wave" src="../static/images/wave-transition1ALT.svg" loading="lazy" alt="Wavy transition image between page sections">
        <div id='projects' class="asha-container">
            <div class="container-content">
                <h2>Projects</h2>
                <div id='projects-container'></div>
            </div>
        </div>
        <img class="transition-wave" src="../static/images/wave-transition2ALT.svg" loading="lazy" alt="Wavy transition image between page sections">
        <div id='resume' class="asha-container">
            <div class="container-content">
                <h2>Resume</h2>
                <a id="download-link" href="../static/documents/AshaIvey_Resume_Portfolio.pdf" download>
                    <button id="download-button">
                        Download Resume
                        <img src="../static/images/downloadIcon.svg" alt="download icon" loading="lazy">
                    </button>
                </a>
                <div id="resume-collection">
                    <div class='resume-container ratio' style="--bs-aspect-ratio: 129.412%;">
                        <iframe class='most-recent-resume' width="100%" src='../static/documents/AshaIvey_Resume_P1.pdf#toolbar=0&view=fitV' title="Asha's Resume part 1"></iframe>
                    </div>
                    <div class='resume-container ratio' style="--bs-aspect-ratio: 129.412%;">
                        <iframe class='most-recent-resume' width="100%" src='../static/documents/AshaIvey_Resume_P2.pdf#toolbar=0&view=fitV' title="Asha's Resume part 2"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <img class="transition-wave" src="../static/images/wave-transition3ALT.svg" loading="lazy" alt="Wavy transition image between page sections">
        <div id='contact' class="asha-container">
            <div class="container-content">
                <h2>Contact Me</h2>

                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="5c5de659-ad1d-4cde-802b-b4372560e55b">
                    <input type="hidden" name="subject" value="New Submission from Web3Forms">
                
                    <div id="name-div">
                        <label class="required-input" for="name">Name</label>
                        <input id="name" type="text" name="name" required>
                    </div>

                    <div id="email-div">
                        <label class="required-input" for="email">Email</label>
                        <input id="email" type="email" name="email" required>
                    </div>

                    <div id="message-div">
                        <label class="required-input" for="message">Message</label>
                        <textarea id="message" name="message" rows="4" cols="50" required></textarea>
                    </div>
                    
                    <button class="cta-button" type="submit">Submit</button>
                
                </form>
                
                <script src="https://web3forms.com/client/script.js" async defer></script>
                
                <div id='contact-methods'> 
                    <div class='contact-icon'>
                        <a target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                            <img src="../static/images/github-mark-white.svg" alt="Github icon and link to github profile" loading="lazy">
                        </a>
                    </div> 
                    <div class='contact-icon'>
                        <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                            <img src="../static/images/LI-In-Bug.png" alt="linkedin Logo and link to profile" loading="lazy">
                        </a>
                    <div>
                </div> 
            </div>
        </div>

        {% if scroll %}
        <script>
            $(document).ready(() => {
                // Handler for .ready() called.
                setTimeout(() => {
                    $('html, body').animate({
                        scrollTop: $('#{{scroll}}').offset().top
                    }, 'slow');
                }, 700);
            }); 
            window.history.replaceState({}, "", "/");
        </script>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>