<!DOCTYPE html>
<html>
    <head>
        <title>Asha Ivey - Portfolio Website</title>
        <link rel='stylesheet' media='screen and (min-width:900px) and (min-height:780px)' href='../static/css/home.css'>
        <script src='../static/js/home.js'></script>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/ashaiv-favicon-32x32.png'>

        <!-- Font Stuff -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    </head>
      
    <body class='beginning' onload="loadData()">
        <nav> 
            <button class='nav_button' onclick='aboutAction()'>About</button>
            <button class='nav_button' onclick='projectAction()'>Projects</button>
            <button class='nav_button' onclick='resumeAction()'>Resume</button>
            <button class='nav_button' onclick='contactAction()'>Contact</button>
        </nav> 
        
        <div id='about' class="container">
            <h1 id='home_title' class='large-title'>Asha Ivey</h1>
            <div id='about-text'>
                <!-- Ideally, I want there to be a short version and a long version -->
                <!-- so that people can chose whether or not they want to read the -->
                <!-- whole page or just scroll through. -->
                <p id='about-description'></p>
            </div> 
            <div id="about-image">
                <p class='center-align'>
                    <img id='headshot' src='../static/images/grad_pic.jpg'>
                </p>
            </div>
            <h1 onclick='projectAction()' class='arrow cloud large-title'>▼</h1>
        </div>

        <div id='projects' class="container">
            <h2>Projects</h2>
            <div id='projects-container'></div>
        </div>

        <div id='resume' class="container">
            <h2>Resume</h2>
            <p id='resume-date'>Last Updated 11/11/2021</p>
            <div id='resume-container'>
                <iframe id='most-recent-resume' src='../static/documents/Asha Ivey_9-20-2021_Resume.pdf'></iframe>
            </div>
        </div>

        <div id='contact' class="container">
            <h2>Contact Me</h2>
            <div id='contact-methods'>
                <div>
                    <h3 style='font-size:20vw'>✉</h3>
                    <p>Email: 
                        <span id='email-text'>ashavivey@gmail.com</span> 
                    </p>
                    <button id='contact-button' onclick='copyEmail()'>Copy Email</button>
                    </button>
                </div>
                
                <div>
                    <a href='https://github.com/aivey65'>
                        <i class='fa fa-github' style='font-size:20vw'></i>
                        <p>Github</p>
                    </a>
                </div> 
            </div> 
        </div>
    </body>
</html>