<!DOCTYPE html>
<html>
    <head>
        <title>Asha Ivey - Portfolio Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="An in-depth page about Asha's projects. These case studies go into detail about the technology used, and the purpose of the project.">

        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' href='../static/css/project_info.css'>
        <link rel='stylesheet' media='screen and (max-width:900px)' href='../static/css/project_info_small.css'>
        <script src='../static/js/project_info.js'></script>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/ashaiv-favicon-32x32.png'>

        <!-- Font Stuff -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>

    <body class='beginning' onload="loadData()">
        <div class="mobile-nav mobile-nav-bar">
            <button class='mobile-nav' onclick='logoAction()'>
                <img id='mobile-logo' src="../static/images/ashaiv-favicon-32x32.png">
            </button>
            <button class='nav_toggle mobile-nav' onclick='toggleMenu()'>
                <img id='toggle-logo' class="hamburg" src="../static/images/hamburger-icon.svg">
            </button>
        </div>

        <nav> 
            <div>
                <button id="home_button" class='nav_button' onclick='homeAction()'>
                    <img src="../static/images/AshaIV-logo.svg">
                </button>
            </div>
            <div>
                <button class='nav_button' onclick='aboutAction()'>About</button>
                <button class='nav_button' onclick='projectAction()'>Projects</button>
                <button class='nav_button' onclick='resumeAction()'>Resume</button>
                <button class='nav_button' onclick='contactAction()'>Contact</button>
            </div>
        </nav> 

        <div id='projects' class="asha-container">
            <!-- Image slideshow adapted from this tutorial: https://www.w3schools.com/howto/howto_js_slideshow.asp -->
            <div id='projects-container'></div>
        </div>
    </body>
</html>